h1{
  
  font-family: Pacifico,Annie Use Your Telescope,Architects Daughter;
  color: #00b300;
}

h2{
  
  font-family: Pacifico,Annie Use Your Telescope,Architects Daughter;
  color: #00b300;
}

p{
  font-family: Cherry Swash,Architects Daughter;
  color: #FFFFFF;
}

body {
   background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/03/93/95/2057e7a475540a2.jpg");
   background-color: #000000;
}
